@import "tailwindcss";
@layer theme, base, mui, components, utilities;
:root {
    color-scheme: dark;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
