name: build

on:
  push:
    tags:
      - '*'

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.vars.outputs.VERSION }}
    steps:
      # The `fetch-depth: 0` is important to fetch all the tags
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set version
        id: vars
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

  build-macos:
    runs-on: macos-latest
    needs: [version]
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build binaries
        run: |
          brew install go-task
          task package oses=darwin archs='amd64 arm64'

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-macos
          path: build/*.zip

  build-linux-amd64:
    runs-on: ubuntu-latest
    needs: [version]
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build binaries
        run: |
          npm install -g @go-task/cli
          task package oses=linux archs=amd64

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-linux-amd64
          path: build/*.zip

  build-linux-arm64:
    runs-on: ubuntu-24.04-arm
    needs: [version]
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build binaries
        run: |
          npm install -g @go-task/cli
          task package oses=linux archs=arm64

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-linux-arm64
          path: build/*.zip

  build-windows:
    runs-on: windows-latest
    needs: [version]
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build binaries
        run: |
          npm install -g @go-task/cli
          task package oses=windows archs=amd64

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-windows
          path: build/*.zip

  release:
    runs-on: ubuntu-latest
    needs: [build-macos, build-linux-amd64, build-linux-arm64, build-windows]
    permissions:
      contents: write
    steps:
      # The `fetch-depth: 0` is important to fetch all the tags
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Fetch artifact
        uses: actions/download-artifact@v4
        with:
          path: binaries
          merge-multiple: true

      - name: Create the changelog
        run: |
          npm install -g release-it @release-it/conventional-changelog
          release-it --ci

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          name: ${{ needs.version.outputs.VERSION }}
          tag: ${{ needs.version.outputs.VERSION }}
          bodyFile: CHANGELOG.md
          replacesArtifacts: true
          artifacts: binaries/*.zip